extend base
block content
   include detailPlan
   form.uploadPlanImages(method="POST"  enctype="multipart/form-data" action=`/api/plans/${plan["_id"]}`)
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='cover')
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='pictures')
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='pictures')
                
                .entry
                    .entry-text
                        | update Photo
                    input(type='file' name='pictures')
                
                .btn-parent
                    button(type="submit" planId=`${plan["_id"]}`).btn.btn-primary.updatebtn add Images